:root {
    --background: rgb(41, 41, 41);
    --accent-1: white;
}

* {
    font-family: 'Segoe UI', sans-serif;
}

body {
    padding: 3vh 2vw;
    background: var(--background);
}

h2, p {
    color: var(--accent-1);
}

#validateContainer {
    padding-top: 5vh;
}